@import url("./base.css");
@import url("./theme.css");

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-family: var(--font-family);
  background-color: var(--color-grey-100);
  color: var(--color-slate-600);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hidden {
  display: none !important;
}

.preview-card {
  display: flex;
  width: 80%;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border-radius: 0.75rem;
  box-shadow: 0.25rem 0.5rem 1.25rem rgba(0, 0, 0, 0.1);
  background-color: white;
}

.preview-card__image {
  border-radius: 0.75rem 0.75rem 0 0;
  object-fit: cover;
}

.preview-card__content {
  display: flex;
  padding: var(--spacing-500) var(--spacing-300) var(--spacing-200);
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-200);
}

.preview-card__title {
  color: var(--color-grey-900);
  font: var(--text-preset-1);
}

.preview-card__text {
  color: var(--color-grey-600);
  font: var(--text-preset-3);
}

.preview-card__footer {
  display: flex;
  margin-top: var(--spacing-300);
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

.preview-card__author {
  display: flex;
  align-items: center;
  gap: var(--spacing-200);
}

.preview-card__author img {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  object-fit: cover;
}

.preview-card__author-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.preview-card__author-info p {
  color: var(--color-grey-900);
  font: var(--text-preset-2);
}

.preview-card__author-info time {
  color: var(--color-grey-300);
  font: var(--text-preset-3);
}

.share-button {
  width: 2rem;
  height: 2rem;
  place-items: center;

  border: unset;
  border-radius: 50%;
  background-color: var(--color-grey-100);
  cursor: pointer;
}

.share-button img {
  color: var(--color-grey-900);
}

.preview-card__share-bar {
  display: flex;
  width: 100%;
  padding: var(--spacing-200) var(--spacing-300);
  position: absolute;
  bottom: 0;
  justify-content: space-between;
  align-items: center;

  border-radius: 0 0 1rem 1rem;
  background-color: var(--color-grey-900);
}

.preview-card__share-menu {
  display: flex;
  align-items: center;
  gap: var(--spacing-200);
}

.preview-card__share-menu p {
  color: var(--color-grey-300);
  font: var(--text-preset-3);
  text-transform: uppercase;
  letter-spacing: 0.3rem;
}

.active {
  background-color: var(--color-grey-600);
  img {
    filter: brightness(3);
  }
}
